.wrong {
  background-color: rgb(255, 129, 129);
}

.correct {
  background-color: rgb(108, 224, 108);
}

.empty {
  background-color: aliceblue;
}

.unanswered {
  background-color: rgb(255, 224, 121);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
    width: 30px;
    height: 30px;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    color: rgb(54, 54, 54);
}

.check {
  margin: 0.5em;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  cursor: pointer;
}